<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Strength Program Generator</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="liftsTable">
      <table>
        <tr>
          <th>Lift</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>1RM</th>
          <tr v-for="exercise in lifts">
            <td>{{ exercise.name | capitalize}}</td>

            <td><input v-model="exercise.reps"></td>

            <td><input v-model="exercise.weight"></td>

            <td>{{ calcOneRepMax(exercise, exercise.reps, exercise.weight) }}lbs</td>
          </tr>
      </table>
    </div>
    <script src="/js/app.js"></script>
  </body>

</html>
